@model Mooshak2._0.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="main-view">

    <div class="col-sm-1 col-md-2 sidebar">

    </div>
    <div class="col-sm-8 col-md-10 middle">
        <div class="main-content">
            <div>
                <h4>Password has been changed</h4>
                @Html.ActionLink("Back to Home", "Index", "Home", null, null)
            </div>
        </div>
    </div>
</div>
